system_ext/apex/com.android.vndk.v30.apex
system/system/lib64/libshowlogo.so
product/priv-app/Messages/Messages.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
